body {
	padding-top: 100px;
}

.navbar .navbar-header .navbar-brand {
	font-family: 'Lobster Two', cursive;
	font-size: 32px;
}

#default-navbar-collapse-1 {
	margin-right: 50px;
}

#tracks-container .list-group-item {
	display: list-item;
}

#tracks-container .list-group-item.list-label {
	display: block;
}

#tracks-container.list-group {
	list-style: decimal inside;
}